<!DOCTYPE html>
<html>
<head>
	<title>iLaus</title>
	<meta charset="utf-8">
</head>
<link rel="stylesheet" type="text/css" href="/static/index/css/base.init.css">
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css?t=0.12221">
<link rel="stylesheet" type="text/css" href="http://ilaus-image-test.oss-cn-shanghai.aliyuncs.com/static/bootstrap/css/bootstrap.css">
<body>
<div class="ilaus-index-topbar">
	<div class="ilaus-logo"></div>
	<div class="ilaus-topbar-font ilaus-login">登录</div>
	<div class="ilaus-topbar-font ilaus-sigup">注册</div>
	<div class="clearfix"></div>
	
</div>
<!-- one-side -->
<div class="ilaus-index-one">
	<div class="ilaus-topbg">
	</div>
</div>









</body>
<script type="text/javascript" src="http://cdn-test.hogon.wang/static/js/jquery-3.2.0.min.js"></script>

</html>